                                    /* Universal Elements */

nav {
    height: 60px;
}

footer {
    color: white;
    background-color: black;
    text-align: center;
    height: 60px;
}

.container {
    background-color: gainsboro;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 10px 0px;
}

                                    /* Portfolio Page */

.inner {
    padding: 10px 0px;
}

.project {
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.project-title {
    padding: 30px 10px 0px 10px;
}

.project-content {
    height: 200px; 
    width: 200px;
    background-color: rgba(255, 255, 255, 0.85);
    visibility: hidden;
}

.project-tags {
    padding: 30px 10px 0px 10px;
}

/* Project Backgrounds */
.foi-app {
    background: url(../Images/FOIApp.jpg);
}

.straytx {
    background: url(../Images/straytx_200x200.jpg);
}

.skyq {
    background: url(../Images/skyq_200x200.jpeg);
}

.react-game {
    background: url(../Images/react_200x200.png);
}

.e-commerce {
    background: url(../Images/E-commerce_200x200.jpg);
}

.friend-finder {
    background: url(../Images/friends_200x200.jpg);
}

.liri {
    background: url(../Images/liri_200x200.jpeg);
}

.restaurant {
    background: url(../Images/restaurant_200x200.jpeg);
}

.giftastic {
    background: url(../images/hockey_200x200.jpeg);
}

.crystal {
    background: url(../images/crystal_200x200.jpeg)
}

.trivia {
    background: url(../Images/nationalpark_200x200.jpeg);
}

.psychic {
    background: url(../images/psychic_200x200.jpeg)
}

/* Project Hover Effects */



.project:hover .project-content{
    visibility: visible;
}



