/*-------------------------------------  Universal Elements */

body {
    background-color: #F3F9FB;
}
/* Nav Bar */

.navbar {
    background-color: #113F67;
    border-bottom: 10px solid #87C0CD;
}

.navbar-brand {
    margin-left: 5%;
    color: #F3F9FB;
    font-size: 28px;
    font-family: 'Barlow', sans-serif;
}

.nav-link {
    color: #F3F9FB;
    font-family: 'Barlow', sans-serif;
}

.nav-link:hover, .navbar-brand:hover {
    color: #87C0CD;
}

.navbar-toggler {
    margin-right: 5%;
}

.active {
    color: #87C0CD;
}

/* Container */

.container {
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 10px 0px;
}

/*------------------------------------- Landing Page  */

.container-landing {
    scroll-behavior: smooth;
}

.inner-landing {
    padding: 200px 0px;
    width: 80%;
    margin: auto;
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
    color: #F3F9FB;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: linear-gradient(
        rgba(0, 0, 0, 0.25),
        rgba(0, 0, 0, 0.25)
        ),
        url(../Images/landing-image.JPG);
    background-size: cover;
}

.inner-about {
    padding: 30px;
    font-family: 'Raleway', sans-serif; 
}

#profile-img {
    max-width: 100%;
    min-width: 200px;
    height: auto;
}

/*------------------------------------- Portfolio Page */

.project-container {
    padding: 30px;
}

.inner {
    padding: 20px;
}

.project {
    height: 250px;
    width: 250px;
    background-repeat: no-repeat;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.project-title {
    padding: 100px 20px 0px 20px;
    font-family: 'Barlow', sans-serif;
    font-size: 26px;
    color: #113F67;
}

.project-content {
    height: 250px; 
    width: 250px;
    background-color: rgba(243, 249, 251, 0.849);
    visibility: hidden;
}

/* Project Backgrounds */

.foi-app {
    background: url(../Images/Government.png);
    background-size: cover;
}

.straytx {
    background: url(../Images/Dog.png);
    background-size: cover;
}

.skyq {
    background: url(../Images/SkyQ.png);
    background-size: cover;
}

.react-game {
    background: url(../Images/React.png);
    background-size: cover;
}

.e-commerce {
    background: url(../Images/ShoppingCart.png);
    background-size: cover;
}

.friend-finder {
    background: url(../Images/Group.png);
    background-size: cover;
}

.liri {
    background: url(../Images/Headphones.png);
    background-size: cover;
}

.restaurant {
    background: url(../Images/Plate.png);
    background-size: cover;
}

.giftastic {
    background: url(../Images/Hockey.png);
    background-size: cover;
}

.crystal {
    background: url(../Images/Crystal.png);
    background-size: cover;
}

.trivia {
    background: url(../Images/Mountains.png);
    background-size: cover;
}

.psychic {
    background: url(../Images/Psychic.png);
    background-size: cover;
}

/* Project Hover Effects */

.project:hover .project-content{
    visibility: visible;
}

/* The Modal (background) */
.modal {
    position: fixed;
    left: 0;
    top: 10px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #F3F9FB;;
    margin: 120px auto;
    padding: 20px;
    border: 1px solid #113F67;
    width: 70%;
    max-height: 82%;
    overflow: auto;
  }
  
  /* The Close Button */
  .close {
    color: #113F67;;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* Modal Elements */
  .modal-title {
      text-align: center;
      color: #113F67;
      font-family: 'Barlow', sans-serif;
  }

  .modal-summary {
      border-left: 2px solid #87C0CD;
  }

  .modal-image {
    margin: 20px;
    height: auto;
    width: 90%;
    border: 2px solid #226597;
  }

  .modal h4 {
      padding-top: 20px;
      text-align: center;
      color: #113F67;
      font-family: 'Barlow', sans-serif;
  }

  .modal-summary p {
      padding: 30px;
      margin: 0;
      font-family: 'Raleway', sans-serif;
  }

.app-links {
      text-align: center;
      padding-bottom: 25px;
      padding-top: 15px;
      border-bottom: 2px solid #87C0CD;  
  }

  .btn {
    background-color: #226597;
    color: #F3F9FB;
    border: 1px solid #226597;
    margin: 10px 5px;
    width: 186px;
    font-family: 'Raleway', sans-serif; 
  }

  .btn:hover {
      color: #226597;
      background-color: #F3F9FB;
  }

  ul {
      padding: 30px 40px;
      font-family: 'Raleway', sans-serif;
  }

  .close-btn {
      width: 186px;
      margin: 20px;
  }

  @media only screen and (max-width: 768px) {
      .modal-content {
          width: 85%;
      }
  }

  @media only screen and (max-width: 415px){
      .modal-summary {
          border-left: none;
      }
  }
/*-------------------------------------  Contact Page */

.contact-row {
    padding: 70px 0px;
}

.inner-contact {
    height: 350px;
    width: 350px;
    padding: 50px 30px;
}

.inner-contact {
    margin: 0 auto;
}

